{% extends 'base.html' %} {% block cuerpo %}
<p>Estos son los estudiantes:</p>
<p>{{ mensaje }}</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Correo</th>
        <th scope="col">Numero Emergencia</th>
        <th scope="col">curso id</th>
      </tr>
    </thead>
    <tbody>
        {% for estudiante in estudiantes %}
        <tr>
            <td scope="row">{{ estudiante.id }}</td>
            <td>{{ estudiante.nombre }}</td>
            <td>{{ estudiante.ape_paterno }}</td>
            <td>{{ estudiante.ape_materno }}</td>
            <td>{{ estudiante.correo }}</td>
            <td>{{ estudiante.num_emergencia }}</td>
            <td>
                {# El primer metodo seria para utilizar un if-else #} 
                {# {% if alumno.curso_id %} {{ alumno.curso_id }} {% else %} -- {% endif %} #} 
                {# Este metodo se utiliza para hacer el uso de un operador ternario #}
        {{ estudiante.curso_id if estudiante.curso_id else '--' }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
